* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    border: 1px solid black;
    width: 480px;
    height: 480px;
    text-align: center;
    margin: 10px auto;

}

.grid_size {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.grid_size button {
    height: 40px;
    width: 80px;
    background-color: #EA8538;
    color: bisque;
}

.colored_grid {
    background-color: black;
}

.buttons {
    width: 480px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px 20px;

}

.form {
    display: flex;
}

.user-input {
    width: 50px;
}
#red {
    background-color: #F22804;
    color: bisque;
}
#black {
    background-color: black;
    color: blanchedalmond;
}
#random {
    background-color: #5B8466;
    color: blanchedalmond;
}
.reset {
    background-color: red;
    color: white;
}