* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 480px;
    height: 480px;
    text-align: center;
    margin: 10px auto;

}

.container div {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.colored_grid {
    background-color: black;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px;

}
.form {
    display: flex;
}
.user-input {
    width: 50px;
}